@font-face {
  font-family: 'KGHAPPY';
  src: url('KGHAPPY.ttf') format('truetype');
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'KGHAPPY';
  margin-top: 10%;
  margin-bottom: 10%;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 768px) {
  
  #home_page, #finish{
    left: 4% !important;
  }

  #finish_title {
    font-size: 5rem !important;
  }

  #rules {
    left: 6.5% !important;
  }

  #rules_text {
    font-size: 1.1rem !important; 
  }

  #choose_title {
    font-size: 2.3rem !important;
  }
  
  #choose {
    transform: scale(0.8);
    left: 0% !important;
    margin-top: 0% !important;
  }
  
  #buttons {
    left: 17% !important;
  }

  #button_up {
    top: 17% !important;
  }
  
  #finish_home_page, #finish_replay {
    margin-top: 5% !important;
    margin-bottom: 3% !important;
  }
  
  #choose_table {
    margin-top: 100% !important;
    transform: scale(0.9);
  }

  #choose_easy, #choose_medium, #choose_hard, #choose_start {
    font-size: 1.5rem !important;
  }
  
  #square_blu, #square_red, #square_yellow, #square_green, #square_normal {
    width: 60px !important;
    height: 60px !important;
  }

  #squares{
    width: 400px !important;
  }
}

body {
  position: fixed;
  margin: 0;
}

#score, #home_page, #finish, #rules, #choose, #buttons, #special_button{
  position: absolute;
  font-family: 'KGHAPPY';
}

#money_score, #step_score {
  font-size: 2rem;
  color: white;
}

#home_page, #finish {
  top: 10%;
  left: 27%;
}

#home_page_title, #rules_title, #finish_title {
  font-size: 6rem;
}

#home_page_column, #rules_column, #finish_column {
  text-align: center;
}

#choose_title {
  font-size: 4rem;
}

#choose {
  left: 27%;
}

#choose_table {
  margin-top: 43%;
}

#choose_start {
  margin-top: 0% !important;
  width: 30%;
  left: 34%;
}

#square_blu, #square_red, #square_yellow, #square_green, #square_normal {
  width: 90px;
  height: 90px;
  margin-top: 0% !important;
}

#square_blu {
  background: #0000FF;
}
#square_red {
  background: #FF0000;
}
#square_yellow {
  background: #FFFF00;
}
#square_green {
  background: #00FF00;
}
#square_normal {
  background: #B45F06;
}

#rules {
  left: 35%;
}

#rules_home_page {
  margin-top: 0%;
  font-size: 1.25rem;
}

#rules_text, #finish_step, #finish_money, #final_score {
  font-size: 1.375rem;
}

#buttons {
  top: 73%;
  left: 40.5%;
  transform: scale(0.8);
}

#special_button {
  top: 82%;
  left: 65%;
  transform: scale(0.8);
}

#button_up {
  top: 13%;
  width: 99%;
}

#finish_home_page, #finish_replay {
  margin-top: 5% !important;
  margin-bottom: 3% !important;
}